<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<%- include('layouts/header') %>
	<%- include('meta/stocks') %>
</head>

<body>

	<div id="page-content-wrapper">
		<%- include('layouts/navbar')%>

		<!--main slider-->
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="container">
					<div class="primary margin-15">
						<div class="row">
							<div class="col-md-8">
								<h2>Stocks
								</h2>
								<p id="stockDate" class="last_updated"><%=data[0].updated_at.slice(0,10) %></p>
							</div>
							<div class="col-md-4" style="padding-top:1%">
								<input class="myInput" placeholder="Search stocks">
								<button class="custom-search-button"><i class="fa fa-search"></i></button>
							</div>
							<div class="col-md-7">
								<div style="margin-top:3%">
									<div class="table-responsive-sm">
										<table class="table table-hover">
											<thead>
												<tr class="bg-dark">
													<th scope="col">Name</th>
													<th scope="col">Max Price</th>
													<th scope="col">Min Price</th>
													<th scope="col">Prev Closing</th>
												</tr>
											</thead>
											<tbody class="searchTable">
												<% for (var i = 0; i < data.length; i++) { %>
												<tr class="hoverlink" onclick="switchCurrency(this)">
													<td id="name" style="font-weight:500;" data-toggle="tooltips"
														title="<%=data[i].name %>">
														<%=data[i].symbol %>
													</td>
													<td><%=data[i].max_price %></td>
													<td><%=data[i].min_price %></td>
													<td><%=data[i].prev_close %></td>
												</tr>
												<% } %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<h4 id="graphTitle" style="text-align:center;margin-top:10%">View graphs</h4>
								<p id="graphContent">
									<canvas id="myChart" width="100" height="80"></canvas>
								</p>
							</div>
						</div>
					</div>
					<!--.primary-->
				</div>
			</div>
		</div>
		<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->
		<!-- <script>
			function switchCurrency(item) {
				let currencyName = $(item).find("td").eq(0).html();
				let currencySell = $(item).find("td").eq(3).html();
				let currencyDate = $(item).find("td").eq(4).html();
				formattedCurrencyDate = dateFormatter(currencyDate);
				var title = document.getElementById("graphTitle");
				title.innerHTML = currencyName;
				$("#graphContent").show(`<div id="myChart" style="height: 100px; width: 100 %;"></div>`);
				/*graph starts here*/

				var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
					'November', 'December'];
				var config = {
					type: 'line',
					data: {
						labels: [formattedCurrencyDate],
						datasets: [{
							label: currencyName,
							backgroundColor: "blue",
							borderColor: "blue",
							data: [
								currencySell
							],
							fill: false,
						}]
					},
					options: {
						responsive: true,
						title: {
							display: true,
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'none',
							intersect: false
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Month'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Price'
								}
							}]
						}
					}
				};

				var ctx = document.getElementById('myChart').getContext('2d');
				var myChart = new Chart(ctx, config);
			}
		</script> -->

		<!--main slider-->
		<%- include('layouts/footer') %>
		<script>
			var stockDate = document.getElementById("stockDate").innerHTML;
			document.getElementById("stockDate").innerHTML =
				"Last updated on" + " " + dateFormatter(stockDate);
		</script>
	</div>
</body>

</html>